:root{ /* Testing out root, for defining CSS custom properties that I may used throughout the stylesheet often such as text colors and backgrounds, an fonts*/
--text-color: rgb(0, 0, 0);
--background-color: rgb(13, 59, 80);
--font-family: "Geist", sans-serif;
--nav-background-color: hsl(207, 18%, 45%);
}

/* Start of header format for all html files as well as global tags and attributes that will be used all throughout the project */
html,body{
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: var(--background-color);
}
header{ /*Background image* and main block that contains the header content */
    background-image: url('../images/lake-baikal.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: auto;
}
h1{ /*Header text styling*/
    margin: 0;
    padding-top: 15px;
    padding-bottom: 100px;
    text-align: center;
    font-family: var(--font-family);
    font-size:5em;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    text-shadow: 10px 2px 4px rgba(0, 0, 0, 0.5);  
}
nav{  
    top: 0; /* make the navigation bar stick to the top of the viewport */
    position: sticky; /* make the navigation bar stick to the top of the viewport */
    
}

.container-nav{ /*This is the navigation container for the navigation menu it is using flexbox to manage the layout of the navigation items*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* added wrap here to allow the navigation items to wrap onto the next line if necessary in case of window resizing */
    align-content: flex-start;
    list-style: none;
    padding: 0;/* have padding and margin at 0 as I wanted the nav bar to stretch the full page*/
    margin: 0;  
}
.container-nav a{ /*this section styles the navigation links that are held and formatted withn the main container class*/
    color:white;
    font-weight: 500;
    text-decoration: none; /*used to remove the underline on the links*/
    padding: 15px;
    display: block;
    text-align: center;
    transition: 0.5s ease;
    text-shadow: 10px 2px 4px rgba(0, 0, 0, 0.671);
}
.container-nav a:hover{ /*this section styles the navigation links when they are hovered over so that their is user feedback that the "button or link" is interactive*/
background-color: rgb(50, 108, 122);
text-shadow: 30px 2px 4px transparent;
transition: 0.5s ease;
color: white;
text-decoration:none;
}
.item-nav{ /*this section styles the individual navigation items within the navigation container, they are the "buttons" or "links" that make up the navigation menu and are the main items within the flexbox*/
    font-family: var(--font-family);
    font-size: 1.85em;
    font-weight: 300;
    background-color:transparent;
    padding: 0px;
    margin: 0px;
    text-align: center;
    flex-grow: 1;
}
/* end of header format for all html files */


/* Start of index.html styles */
main{
    margin-left: 0px;
    margin-right: 0px;
}
a{
    font-style: normal;
    text-decoration: none;
    color: #32d6f3;
}
a:hover{
    text-decoration: underline;
    color: #0bacf1d2;
}
h2{
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-size: 2.8em;
    font-weight: 500;
    text-align: left; 
    color: #fff;
    margin-right: auto;
    margin-bottom: 40px; /* add some space below the heading */
    font-style: italic;
}
p{
    margin:auto;
    margin-bottom: 80px; /* add some space below the paragraph */
    font-family: var(--font-family);
    font-size: 1.85em;
    font-style: normal;
    color: #fff;
    line-height: 1.75;
    overflow-wrap: anywhere;  
}
/* This sections styles the welcome area on the index page which is the first half of tha page that inrtoduces the page */
.welcome{
    margin-left: 30px;
    margin-right: 30px;
}
.welcome aside{
    margin-top: 50px; /* add some space above the video wrapper */
    position: right; /* ensure the video wrapper is positioned relative to its container */
    
}
.wrapper-home{
    padding: 0px;
    font-size: 20px;
    width: 350px;
    font-family: var(--font-family);
    border-radius: 20px;
    cursor: pointer;
}
video{
    width: 100%;
    height: auto;
    display:block;
    float:right;
    margin-left: 10px; /* add some space to the left of the video */
}
hr{
    margin:0;
    margin-top: 0;
    border: 0;
}
/* This section styles the seal characteristics area on the index page which is the second half of the page */
.seal-characteristics{
    background-color: #fff;
}

.seal-characteristics div{
    margin-left: 30px;
    margin-right: 30px;
    color: black;

}
.seal-characteristics h2{
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-size: 2.8em;
    font-weight: 500;
    text-align: left; 
    color: var(--nav-background-color);
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px; /* add some space above the heading */
    margin-bottom: 40px; /* add some space below the heading */
    font-style: italic;
    padding-top: 50px; /* add some space above the content */
}
.seal-characteristics p{
    margin-left: 30px;
    margin-right: 30px;
    color: var(--nav-background-color);
}
.seal-image{
    float: left; /* ensure the image floats to the left of the text */
    margin-right: 10px; /* add some space to the right of the image */
}
/* Wrapper section contorls and presents the video elements of this section */
.wrapper-seal-characteristics{
    float: left;
    padding: 0px;
    font-size: 20px;
    width: 350px;
    font-family: var(--font-family);
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}
/* end of index.html styles */


/* footer styles for all pages */
footer{
    background-color: var(--nav-background-color);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 350;
    font-size: 3em; /* set a base font size for the footer */
    padding: 10px;
    text-align: center;
}

.Ref{
    margin-left: 30px;
    margin-right: 30px;
}
.Ref h3{
    color: #fff;
    text-align: start;
    margin-bottom: 10px;  /* add some space below the heading */
    padding-top: 2px;
    margin-top: 5px; /* add some space above the heading */

}
.Ref ol{
    padding-top:20px;
    list-style-type: decimal;
    font-family: var(--font-family);
    font-size: .35em; /* set a base font size for the list items */
    text-align: start; /* align the list items to the start */
    
}


.Ref a{
    color: #fff;
    text-decoration: none;
}
.Ref a:hover{
    text-decoration: underline;
}
footer p{
    font-size: .4em;
    text-align: start; /* center the footer paragraph */
    margin-bottom: 5px; /* add some space below the footer paragraph */
    margin-top: 15px; /* add some space above the footer paragraph */
    padding-top: 50px; /* add some padding around the footer paragraph */
    margin-left: 30px; /* add some space to the left of the footer paragraph */
    margin-right: 30px; /* add some space to the right of the footer paragraph */
}
